/* Global */

body, html {
  height: 100%;
}

body {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7rem;
}

#eleventy-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

/* Navigation */

header {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

#main_tohp:focus {
  border: 1px solid white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  border-bottom: 1px dashed #4f4f4f;
}

.navi_left a {
  color: white;
}

.navi_right a {
  color: black;
  
}

.navi_left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;

  background-color: black;
}

.navi_left a {
  box-shadow: none !important;
  font-weight: bold;
}

.navi_right {
  margin-right: 5%;
  display: flex;
  width: 20%;
  justify-content: space-between;
}

/* Main */

main {
  margin: 0 auto;
  padding: 0 1.0875rem 1.45rem;
}

#main-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  padding-bottom: 2rem;
  max-width: 1200px;
}

/* Banner */

#banner {
  margin-bottom: 10%;
  max-width: 960px;
  margin: 0 auto;
}

#banner h1 {
  color: #00f;
  font-size: 2.5rem;
  font-weight: 900;
}

#banner p {
  font-size: 1.9rem;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* About */

#aboutBio {
  background-color: #f7f7f7;
  padding: 30px;
  box-shadow: 4px 4px 0px #9f9f9f;
  border: 1px solid black;
}

#aboutBio h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 1rem;
}

#aboutBio p {
  font-weight: 400;
  line-height: 43px;
}

#aboutBio a {
  color: black;
}


/* Blog ( Main ) */

#recentPosts {
  max-width: 1100px;
  margin: 0 auto;
}

#recentPosts p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 30px;
}

.recentPosts {
  font-size: 1.5rem;
}

.postlist {
  list-style: none;
  padding: 0px;
}

.blog-item {
  min-height: 320px;
  margin-bottom: 20px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid transparent;
}

.blog-item h3 {
  margin-top: 3.5rem;
  margin-bottom: 1.75rem;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.1;
  letter-spacing: 0.140625em;
  text-transform: uppercase;
}

.blog-item a {
  text-decoration: none;
  color: black;
}

.blog-item p {
  font-weight: 400;
  line-height: 43px;
  font-size: 1.1rem;
  
}

.blog-item:focus-within, .blog-item:hover {
  box-shadow: 4px 4px 0 #000;
  border: 1px solid #000;
  transition: .5s;
}

.tags {
  display: flex;
}

a.post-tag {
  color: black;
  margin-right: 5px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #000;
  text-transform: capitalize;
  box-shadow: 2px 2px 0 #000;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  line-height: 43px;
}

a.post-tag:hover {
  background-color: #000;
  color: #fff;
  text-decoration: underline;
  border: 1px dashed #fff;
}

.postlist-date {
  display: block;
  margin-top: 2%;
  border: 1px solid #000;
  display: inline-block;
  padding: 5px;
  box-shadow: 4px 4px 0 #000;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  line-height: 43px;
  font-size: 16px;
}

/* Footer */

footer {
  flex-shrink: 0;
  border: 1px solid grey;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 1rem;
}

.footerNav_left {
  width: 25%;
  display: flex;
}

.footerNav_right {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

footer a {
  color: black;
  text-decoration: none;
  box-shadow: 0 1px 0 0 black;
  padding: 5px;
}

/* Other */
.container {
  margin-top: 10%;
}

