---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 0
---

<div id="banner">
  <h1>Hello, my name is Tyler</h1>
  <p>Hi there! I'm a Frontend Engineer, with a knack for building!<br/>
  I specialize in <strong>Frontend Development</strong>, <strong>Accessibility</strong> and <strong>Test Driven Development.</strong></p>
</div>


<div id="aboutBio" class="container">
  <h2>A little about me</h2>
  <p>I love building and learning, it's a part of the reason why I'm a developer.
    With the vastness that is web development, I enjoy trying out new things which may improve my workflow, or get a better perspective. Things like making sure something is accessible for all is always key when I'm building for the web.
    With that being said, <strong>come on and say hello!</strong>
  </p>
  <Link to="/about">Read more about me &#8594;</Link>
</div>

<div id="recentPosts">
  <div class="recentPosts container">
    <h2>Blog</h2>
    <p>Where I like to talk about accessibility, Frontend Development, TDD, JavaScript and a lot more!</p>
  </div>

  <div>
    {% set postslist = collections.posts | head(-3) %}
    {% set postslistCounter = collections.posts | length %}
    {% include "postslist.njk" %}
  </div>
</div>
    


