#about {
    max-width: 960px;
    margin: 0 auto;
    font-size: 1.4rem;
    line-height: 2.5rem;
}

#about #banner {
    margin-bottom: 5%;
}

#about h1 {
    margin-bottom: 1rem;
}

#about h2 {
    font-weight: 300;
    margin: 0px;
}

#contact h2 {
    font-weight: bold;
}

#about p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#social {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

#social a {
    font-size: 2rem;
    border: 1px solid transparent;
    font-family: 'Montserrat', sans-serif;
}