---
layout: layouts/home.njk
title: About Me
eleventyNavigation:
  key: About Me
  order: 1
css: '/css/about.css'
---

<div id="about">
  <div id="banner" class="container about__banner">
    <h1>About</h1>
    <h2>You'd like to know about me? I'm flattered.</h2>
  </div>

  <div id="aboutMe">
    <p>Hello there! My name is Tyler! I'm a developer and I love crafting up new solutions.
      <br/>
      <br/>
      I also enjoy working towards accessibility. 
      Unfortunately, a large part of the web is inaccessible in some shape or form. 
      I try my best to create the most accessible applications possible.
      I firmly believe that the web should be accessible to all.
      <br/>
      <br/>
    </p>
  </div>

  <div id="contact">
    <h2>Contact</h2>
    <p>You can find me all over the web.</p>
    <div id="social">
      <a href="mailto:tylerjdev@gmail.com?subject=Inquire%20About">Email</a>
      <a href="https://www.linkedin.com/in/tyjdev/">LinkedIn</a>
      <a href="https://github.com/TylerJDev">Github</a>
      <a href="https://codepen.io/TylerJDev">CodePen</a>
    </div>
  </div>
</div>
