<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">

    {% if css %}
      <link rel="stylesheet" href="{{ css }}" data-test="true">
    {% endif %}

    <link rel="stylesheet" href="{{ '/css/main.css' }}" data-test="true">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N8WKMVBSBK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-N8WKMVBSBK');
    </script>

  </head>
  <body>
    <div id="eleventy-wrapper">
      <header>
        <nav role="navigation" class="nav-links">
          <div class="navi_left">
            <a href="{{ '/' | url }}" id="main_tohp">{{ metadata.title }}</a>
          </div>  

          <div class="navi_right">
            {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}

              {%- for entry in collections.all | eleventyNavigation %}
              <a href="{{ entry.url | url }}" class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">{{ entry.title }}</a>
              {%- endfor %}

          </div>
        </nav>
      </header>

      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        <div id="main-container">
          {{ content | safe }}
        </div>
      </main>

      <footer>
          <div class="footerNav_left">
              Made with &#127838; by Tyler
          </div>
          <div class="footerNav_center">
            Made with Eleventy
          </div>
          <div class="footerNav_right">
              {%- for entry in collections.all | eleventyNavigation %}
              <a href="{{ entry.url | url }}" class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">{{ entry.title }}</a>
              {%- endfor %}
          </div>
      </footer>
    </div>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
