---
layout: layouts/base.njk
templateClass: tmpl-post
css: '/css/blog.css'
---
<div id="blog-header-container">
  <header>
    <div id="blog-header-headings">
      <h1>{{ title }}</h1>
      <h2>{{ description }}</h2>
    </div>

    <div id="blog-metadata">
      <strong>Date Posted:</strong> <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time><br/>
      <strong>Tags:</strong>
      <ul>
        {%- for tag in tags | filterTagList %}
        {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <li>
          <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        </li>
        {%- endfor %}
      </ul>
    </div>
    </header>
  </div>

  <div id="blog-body-container">
    {{ content | safe }}
  </div>

  {%- if collections.posts %}
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if nextPost or previousPost %}

  <ul id="blog-next-prev">
    {%- if previousPost %}<li><a href="{{ previousPost.url | url }}">Previous: {{ previousPost.data.title }}</a></li>{% endif %}
    {%- if nextPost %}<li><a href="{{ nextPost.url | url }}">Next: {{ nextPost.data.title }}</a></li>{% endif %}
  </ul>
</div>
{%- endif %}
{%- endif %}
